@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  header {
    display: block;
    max-width: 1210px;
    margin: auto;
    height: 55px;
    .menuPrincipal {
      display: block;
      margin: 20px;

      .hamburger {
        display: none;
        background-color: transparent;
        height: 30px;
        width: 30px;
        padding: 10px 0px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s
          cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 100;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
      }
      .hamburger.is-active {
        background-color: none;
        margin-right: 20px;
      }
      ._layer {
        background: rgb(81, 81, 81);
        margin-bottom: 4px;
        border-radius: 2px;
        width: 20px;
        height: 3px;
        opacity: 1;

        transform: translate3d(0, 0, 0);

        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
      }

      .hamburger.is-active .-top {
        transform: translateY(230%) rotate(45deg) !important;
      }
      .hamburger.is-active .-mid {
        opacity: 0;
      }
      .hamburger.is-active .-bottom {
        transform: translateY(-230%) rotate(135deg) !important;
      }

      .logo {
        display: inline-block;
        .loguito {
          width: 62px;
          margin-right: 10px;
        }
      }

      .menuItems {
        list-style: none;
        display: inline-block;
        width: 90%;

        .left {
          float: left;
          margin-right: 30px;
        }
        .rigth {
          float: right;
          margin-left: 25px;
        }
        li {
          display: inline-block;
          a {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            text-decoration: none;
            color: rgb(81, 81, 81);
            font-weight: 600;
          }
        }
      }
    }
  }
  main{
    section{
      max-width: 1210px;
      margin: auto;
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      .card{
        margin: 15px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 360px;
         height: 450px;
         transition: 0.4s cubic-bezier(0.05, 1.04, 0.72, 0.98);
         border-radius: 1%;
         font-family: "Open Sans", sans-serif;
         font-size: 15px;
         text-decoration: none;
         color: rgb(81, 81, 81);
         img{
           width: 100%;
           transition: 0.4s cubic-bezier(0.05, 1.04, 0.72, 0.98);
         }
      }
       .card:hover{
         
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        img{
          transform:scale(1.03);
        }
       }
    }
  }  
  footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1210px;
    .menuFooter {
      width: 100%;
      margin-top: 40px;
      padding-top: 40px;
      border-top: solid 1px #e0e0e0;
      display: flex;
      justify-content: center;
      p {
        margin: 4px 10px;
        a {
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          text-decoration: none;
          color: rgb(81, 81, 81);
        }
      }
    }
    .copyRight {
      display: flex;
      justify-content: center;
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        text-decoration: none;
        color: rgb(81, 81, 81);
        margin-bottom: 30px;
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  body {
    header {
      height: 45px;

      .menuPrincipal.is_active {
        //transform: translate3d(0px, 5px, 0px);
        margin: 10px 0 0 0;

        z-index: 200;

        .logo {
          display: none;
        }
        .menuItems.is_active {
          display: flex;
          flex-direction: column;
          width: 100%;
          z-index: 100;
          transform: translate3d(0px, 0px, 0px);

          .left {
            margin: 0;
          }
          .rigth {
            margin: 0;
          }

          li {
            display: block;
            z-index: 1000;
            background-color: white;

            a {
              line-height: 52px;
              padding-left: 10px;
              background-color: white;
              z-index: 1000;
            }
          }
        }
      }

      .menuPrincipal {
        margin: 10 10 10 15;
        .logo {
          .loguito {
            width: 52px;
            margin-top: 5px;
          }
        }
        .hamburger {
          display: block;
          float: right;
        }
        .hamburger.is-active {
          margin-right: 10px;
        }
        .menuItems {
          background-color: white;
          transform: translate3d(0px, -130%, 0px);
          transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
          li {
            display: block;
            // display: none;
          }
          .rigth {
            float: none;
          }
          .left {
            float: none;
          }
        }
      }
    }

    
  }
  footer {
    .menuFooter {
      flex-direction: column;
      align-items: center;
    }
  }
}
